<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Types Choose</title>
</head>
<body>
<h1>Choose your type</h1>
<p>Kindly choose your type and proceed</p>
<br>
<div>
    <button class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10" onclick="location.href='{% url 'hall' %}'">Hall</button>
</div>
<br>
<div>
    <button class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10" onclick="location.href='{% url 'comedy' %}'">Comedy</button>
</div>
<br>
<div>
    <button class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10" onclick="location.href='{% url 'photographer' %}'">Photographer</button>
</div>
<br>
<div>
    <button class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10" onclick="location.href='{% url 'partyplaner' %}'">PartyPlaner</button>
</div>
<br>
<div>
    <button class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10" onclick="location.href='{% url 'musician' %}'">Musician</button>
</div>
<br>
</body>
</html>